.env
env
*.csv
.DS_Store
trp_cleaned.json
redditset.json
sandbox
redditset_100.json
redditSetGPT.json
.~lock.*
reddit_data_*.json
__pycache__/
reddit_data.db
.reddit_data.db
.sandbox
.sqlite_db.json
LLM-VM

